{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign pub_teaser = post.header.teaser | default: post.teaser %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item publication-item" itemscope itemtype="http://schema.org/ScholarlyArticle">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    {% if post.authors %}
      <p class="archive__item-authors" itemprop="author">{% include highlight-authors.html authors=post.authors %}</p>
    {% endif %}

    {% if post.venue %}
      <p class="archive__item-venue"><i>{{ post.venue }}</i>{% if post.date %}, {{ post.date | default: "1900-01-01" | date: "%Y" }}{% endif %}</p>
    {% endif %}

    {% if pub_teaser %}
      <div class="archive__item-teaser publication-teaser">
        <img src=
          {% if pub_teaser contains "://" %}
            "{{ pub_teaser }}"
          {% else %}
            "{{ pub_teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{{ title }}">
      </div>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.paperurl %}
      <p class="archive__item-links"><a href="{{ post.paperurl }}">Paper</a></p>
    {% endif %}
  </article>
</div>
